body {
	background-color: yellow;
	width:960px;
	padding:20px;
}
header {
	background-color: red;
	width:960px;
	height:110px;
	margin-bottom:30px;
}
main {
	background-color: green;
	width:960px;
	height:630px;
	border:1px,black,solid;
}
footer {
	background-color: black;
	width:960px;
	height:170px;
	padding:20px;
}